<p id="notice"><%= notice %></p>

<h1>Listing Lat Lons</h1>

<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Lon</th>
      <th>Parking meter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lat_lons.each do |lat_lon| %>
      <tr>
        <td><%= lat_lon.lat %></td>
        <td><%= lat_lon.lon %></td>
        <td><%= lat_lon.parking_meter %></td>
        <td><%= link_to 'Show', lat_lon %></td>
        <td><%= link_to 'Edit', edit_lat_lon_path(lat_lon) %></td>
        <td><%= link_to 'Destroy', lat_lon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lat lon', new_lat_lon_path %>
